doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title= title
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='description', content='A page listing possibly the best black metal albums based on Encyclopædia Metallum.')
    link(rel='apple-touch-icon', href='/favicon152.png')

    style: :stylus(compress=true)
      album-size = 150px

      *
        margin 0
        padding 0
        border-collapse inherit
        font-size 100%

      html
        box-sizing border-box
        line-height 1
        background #000
        color #aaa

      a
        color #fff
        text-decoration none
        &:hover
          text-decoration underline

      h1 a
        background-image url(title.png)
        background-position 50%
        background-repeat no-repeat
        background-size contain
        display block
        height 165px
        margin 0
        text-indent -9999px

      .albums
        text-align center
        font-size 0

      .album
        display inline-block
        height album-size
        margin 10px
        position relative
        width album-size

      .header, .footer
        font-size 1.2em
        line-height 1.4
        margin 0 auto
        max-width 600px
        padding 0 10px
        text-align center

      .footer
        clear both
        padding-top 1em
        small
          font-size 0.8em
          color #999
          a
            color #888
  body
    h1: a(href='.', title=title)= title
    .header: :markdown-it
      A page listing possibly the best black metal albums based on Encyclopædia
      Metallum.

    .albums
      each album in albums
        a.album(
          alt=album.band + ' — ' + album.name
          title=album.band + ' — ' + album.name
          href='https://www.youtube.com/results?search_query=' +
          album.band + ' ' + album.name + ' full album'
          style='background-image: url("covers.jpg");' +
          'background-position: -' + album.coords.x + 'px -' +
          album.coords.y + 'px'
        )

    .footer
      :markdown-it
        Created by [Paul Nechifor](/). [View the Git source.](https://github.com/paul-nechifor/best-black-metal-albums)

      small: :markdown-it
        [Home](/) •
        [Blog](/blog) •
        [Projects](/projects) •
        [Twitter](https://twitter.com/PaulNechifor)
