album-size = 150px

*
  margin 0
  padding 0
  border-collapse inherit
  font-size 100%

html
  box-sizing border-box
  line-height 1
  font-family sans-serif
  background #000

h1 a
  background-image url(title.png)
  background-position center center
  background-repeat no-repeat
  background-size contain
  display block
  height 165px
  margin 0
  text-indent -9999px

.albums
  text-align center
  font-size 0

.album
  background-size cover
  display inline-block
  height album-size
  margin 10px
  position relative
  width album-size
